<%= form_for @task do |f| %>
    <%= f.text_field :title, placeholder: "title" %>
    <%= f.text_field :details, placeholder: "details" %>
    <label><%= f.check_box :completed %>completed</label>
    <%= f.submit %>
<% end %>